body
{
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
}

aside
{
  border: 5px #000000;
  padding: 50%;
  color: #000000;
}

div
{
  background-color: rgb(20, 0, 255);
  padding: 200px 400px;
  border-radius: 10px;
}

.image
{
  padding: 150px 300px
}
